$backColor: #24282f;

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 48px;
  padding-bottom: 48px;
  flex-grow: 1;
  background-color: $backColor;
}

.progress {
  background-color: $backColor;
  height: 100%;
}

.error {
  height: 100%;
  color: #a61c1c;
  background-color: $backColor;
  padding: 72px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding-left: 24px;
  padding-right: 24px;
}

.box {
  width: 600px;
}

.card {
  display: flex;
  background-color: #3c3e44;

}

.media {
  width: 220px;
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .media {
    width: 100%;
  }
}