.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #47485c;
  border-radius: 32px;
}

.formControl {
  width: 120px;
  margin: 8px !important;
}