.box {
  width: 600px;

  &:hover {
    cursor: pointer;
  }
}

.card {
  display: flex;
  background-color: #3c3e44;
}

.cardModal {
  display: flex;
  flex-direction: column;
}

.media {
  width: 220px;
}

.mediaModal {
  width: 100%;
}

.propsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  font-weight: 800;
}

.prop {
  font-size: 16px;
  font-weight: 500;
  color: rgb(158, 158, 158);
  margin-bottom: 4px;
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
  .media {
    width: 100%;
  }
}